*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Shantell Sans',cursive;
}
.container{
    width:100%;
    height: 100vh;
}
#fav-link {
    color:red;
    text-decoration:none;
}
.header{
    color: brown;
    font-size: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:black;
    position:relative;
  
}
.search-container{
    background-image: url("https://www.komar.de/media/cms/fileadmin/user_upload/Category/Fototapeten/Marvel/komar-fototapeten-marvel.jpg");
    text-align: center;
    padding: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height:100vh;
    width:100%;
}
.search-tab{
    width:50%; 
    border:1px solid white;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.705);
    color: whitesmoke;
}
input:focus {
    background-color:black;
}
img{
    height:80px;
    width: 80px;
    margin: 5px;
}
::placeholder{
    color: brown;
}
.search-list{
    position: absolute;
    background-color:black;
    width:300px;
    left:27%;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.display-list-none{
    display:none;
}
.search-list-item{
    padding:10px;
    display: flex;
    flex-direction: row;
    width:100%;
    align-items:center;
}
.search-list-item:hover{
    background-color:rgba(48, 48, 48, 0.507);
}
.item-right a {
    text-decoration: none;
    color:white;
   
}
.item-right a:hover {
    color:brown;
    font-weight: bold;
}
button{
    background-color: brown;
    color: white;
    padding: 2px 6px;
    margin:20px;
    border: none;
}
button:hover{
    cursor: pointer;
    color:black;
    border:1px solid black;
}
